.birthday {
  margin: 0;
  background: #020202;
  cursor: crosshair;
  width: 100vw;
  height: 100vh;
}
.birthday canvas{
    display:block
}
.birthday h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
