@media only screen and (min-width: 1024px) {

  /* img#logo { */
  /*   width: 25vw; */
  /*   margin-left: 37.5vw; */
  /*   margin-bottom: 7.5vh; */
  /*   margin-top: 15vh; */
  /*   } */

  /*   .button.menu_button { */
  /*     margin-bottom: 0.25vh; */
  /*   } */

  /*   #score_placeolder, */
  /*   #topbar, */
  /*   #keyboard, */
  /*   #top_game_content { */
  /*     display: none !important; */
  /*   } */
    #top_game_content{
	height:0;
    }
    #game_grid {
	max-height: 500px;
    }
    .grid td{
	max-width: 85px;
	font-size:10px;
    }
    .style_2010 .grid, .style_2010 .grid td{
	font-size: 30px;
	height: 85px;
    }

    .style_2010 .not_in_place {
	width:85px;
	height: 85px;
	line-height: 85px;
    }


  /*   #user_actions { */
  /*     height: 100%; */
  /*   position: fixed;top: 0;right: 0;width: 37vw;} */

  /*   div#game { */
  /*     display: flex; */
  /*     height: 100%; */
  /*     flex-wrap: wrap; */
  /*     justify-content: center; */
  /*   width: 100%;} */

  /*   .hided_keyboard #number_grid_placeolder  { */
  /*     transition: 0.5s; */
  /*     animation: sliding_number_grid_animation 0.75s ease-in-out; */
  /*     animation-fill-mode: forwards;   */
  /*   } */

  /*   @keyframes sliding_number_grid_animation { */
  /*     50% { */
  /*       transform: translate(0, 0); */
  /*     } */
  /*     100% { */
  /*       transform: translate(-20vw, 0); */
  /*     } */
  /*   } */

  /*   .visible_keyboard #letter_grid_placeolder  { */
  /*     transform: translate(-20vw, 0); */
  /*     transition: 0.5s; */
  /*     animation: sliding_letter_grid_animation 0.25s ease-in-out; */
  /*     animation-fill-mode: forwards;   */
  /*   } */

  /*   @keyframes sliding_letter_grid_animation { */
  /*     0% { */
  /*       transform: translate(-20vw, 0); */
  /*     } */
  /*     100% { */
  /*       transform: translate(0, 0); */
  /*     } */
  /*   } */
  /*   #number_grid_actions { */
  /*     position: fixed; */
  /*     bottom: 0; */
  /*     margin: 2vw; */
  /*   } */

  /*   .pick_ball { */
  /*     height: 5vw; */
  /*   } */
}
