@font-face {
  font-family: 'Gotham';
  src: url('../font/Gotham\ Medium.ttf');
}

:root {
  --motus_red: #A52A2E;
  --motus_blue: #8cc9ff;
  --motus_yellow: #ffe84e;
  --team_yellow: #FBC800;
  --team_blue: #1681C7;
  --motus_dark: #2d2d2d;
  --transition: cubic-bezier(0.46, 0.03, 0.52, 0.96) 0.25s;
}


h1 {
  font-size: 1.75em;

}

h3 {
  font-size: 2.12em;
}

p,
label {
  font-size: 1.125em;
  margin-block-end: 0;
}

th {
  font-weight: normal;
  text-align: left;
}


#settings_page p {
  font-weight: bold;
  padding-bottom: 1em;
  
padding-left: 3vw;font-size: x-large;}

.button#nav_button {
  font-size: 2em;
  padding-left: 2vw;
  padding-right: 2vw;
}

keyboardkey {
  color: var(--system_color_base_low);
  vertical-align: middle;
  background-color: ffffff;
}


button,
input,
select {
  background-color: #00000020;
  transition: var(--transition);
  border: none;
  color: white;
  font-size: 1.125em;
  height: 6vh;
  border: 0;
  font-family: 'Gotham';

  cursor: pointer;
}

.select:disabled,
.input:disabled,
.button:disabled {
  opacity: 0.33;
  cursor: default;
}

.select:disabled:hover,
.input:disabled:hover,
.button:disabled:hover {
  opacity: 0.175;
}

.button:hover,
.input:hover,
.select:hover {
  background-color: #00000040;
}

.settings_page>.button:hover,
.input:hover,
.select:hover {
  background-color: var(--motus_dark);
}

.input[type="checkbox"i] {
  width: 5vw;
  height: 5vh;
}

table#word_list>td {
  font-size: 1em;
  padding-right: 5vw;
}

body {
  font-family: 'Gotham';
  margin: 0;
  transition: var(--transition);
  overflow: overlay;
}

:focus {
  outline: 0.1em solid #00000054;
}

.page {
  
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
  scrollbar-width: thin;
}

div#main_menu {
  background-color: var(--motus_red);
}

.style_2019#main_menu {
  background-color: var(--motus_dark);
}

.style_2000#main_menu {
  background-color: #b1161b;
}

.style_1990#main_menu {
  background-color: #002761;
}

div#main_menu_content {
  padding-left: 20%;
padding-right: 20%;}

div#settings_page {
  /* overflow: hidden; */
  background-color: var(--system_color_base_medium_high);
}

div#letter_grid_page {

  background-color: var(--motus_blue);
background: linear-gradient(0turn, var(--motus_blue), #50abfb);}

div#debug_page {
  background-color: #3e2792;
}

table#word_list {
  border-left: 1vw solid #4CAF50;
  background-color: #f0f8ff;
  display: block;
  overflow-y: scroll;
  padding: 6vw;
  margin-top: 13vw;
}

img#logo {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 7.5vh;
  margin-bottom: 17vh;
}

.button.menu_button {
  width: 60vw;
  height: 8vh;
  font-size: 1.5em;
  margin-bottom: 1vh;
  background-color: #0003;
  border-radius: 2px;
}

.button.menu_button:hover {
  background-color: #0005;
}

.section_flex {
  display: flex;
  overflow-y: scroll;
}

.section_flex>input {
  width: 100%
}

div#settings-top,
div#credit-top {
  display: inline-flex;
  
  height: 75px;
  text-align: center;
  width: 100%;
  background-color: #afc8ed;
}

.settings_input.settings_disabled {
  display: none;
}

.settings_input {
  animation: sliding_div 0.5s ease-in-out;
}


.input#settings_input_yellow_team_name {
  background-color: var(--team_yellow);
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: bold;
}

.input#settings_input_blue_team_name {
  background-color: var(--team_blue);
  border: 1px solid #00000040;
  text-transform: uppercase;
  font-weight: bold;
}

.protip {
  display: none;
  text-align: center;
}

.protip>a,
.protip>p {
  text-align: center;
}


div#navsection {
  height: 83.9%;
}

div#navpanel {
  width: 100%;
  height: 5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #b5b5b5;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

div#navcontent {
  width: 100%;
  height: 94.9%;
  overflow: visible;
}

h1.link {
  width: 3.33em;
  text-align: center;
  margin-right: 5%;
  margin-left: 2.5%;
  border-radius: 0.1em;
  background-color: var(--system_color_base_medium_high);
}

h1.link:hover {
  background-color: var(--system_color_base_medium);
  color: var(--system_color_base_low);
  cursor: pointer;
}

div#navpanel_dropdown {
  position: absolute;
}

div#navpanel_dropdown p {
  text-decoration: none;
  text-align: left;
  padding-left: 5vw;
  font-size: 1.25em;
  padding-bottom: 0;
  cursor: pointer;
}

div#navpanel_dropdown p:hover {
  color: black;
}

div#navpanel_dropdown.navpanel_dropdown_visible {
  background-color: #cbcbcb80;
  height: 100%;
  width: 100%;
  display: list-item;
  -webkit-backdrop-filter: blur(0.25em);
  backdrop-filter: blur(0.25em);
}


div#navpanel_dropdown.navpanel_dropdown_hidden {
  height: 0;
  opacity: 0;
  display: none;
}



.keyboard_layer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.keyboard_key {
  cursor: pointer;
  width: 7.5vw;
  text-align: center;
  margin: 0.25vh 0.5vw;
  padding: 1.25vh 0vw;
  background: rgb(255 255 255 / 33%);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 3vh;
  box-shadow: 2px 2px 5px 0px #0000005e;
  user-select: none;
  transition: all 0.25s ease;
}

.keyboard_key:hover {
  background-color: var(--team_blue);
  color: white;
}



.hided_keyboard #keyboard {
  transform: translate(-100vw, 0);
}

.visible_keyboard #number_grid_interactions {
  transform: translate(100vw, 0);
}


div#topbar {
  height: 7.55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
background-color: #0000001a;}

div#game {
  /* position: fix;/* display: flex;;/* flex-wrap: nowrap; */
  flex-direction: column;
  bottom: 0;
  position: fixed;
}

.caroussel {
  display: flex;
  width: 80vw;
}

.settings_input p {
  
}

@media (prefers-color-scheme: dark) {

  .settings_input {
    background-color: var(--system_color_base_low);
  }

  table#word_list {
    background-color: #4f4f4f;
  }

  .page,
  div#settings_page,
  div#letter_grid_page {
    background-color: var(--system_color_base_low);
  }

  div#navpanel,
  div#navsection {
    background-color: #252525;
  }

  div#settings-top,
  div#credit-top {
    background-color: black;
  }

  div#letter_grid_page {
    background-color: var(--motus_dark);
  }

  code,
  h1,
  h2,
  h3 {
    color: #efefef;
  }

  .keyboard_key {
    background: rgba(0, 0, 0, 0.33);
    border: 1px solid #000000;
    color: #a1a1a1;
  }

  a:-webkit-any-link,
  p,
  label,
  td,
  div#navpanel {
    color: #d4d4d4;
  }

  .input[type="checkbox"i] {
    background-color: blue;
  }

  .button,
  .input {
    background-color: #0000001a;
  }

  .button:hover,
  .input:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .menu_button {
    background-color: #0003;
  }

  .menu_button:hover {
    background-color: #0005;
  }

  div#navpanel_dropdown.navpanel_dropdown_visible,
  div#navpanel_dropdown.navpanel_dropdown_hidden {
    background-color: var(--motus_dark);
    -webkit-backdrop-filter: blur(0.25em);
    backdrop-filter: blur(0.25em);
  }

  div#navpanel_dropdown p:hover {
    color: #fff;
  }

  h1.link {
    background-color: var(--system_color_base_medium_low);
    color: black;
  }

  h1.link:hover {
    background-color: var(--system_color_base_low);
    color: black;
  }
}

button.button.menu_button.menu_button_caroussel {
  width: 40vw;
}

div#version_placeolder {
  
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1vh 0;width: inherit;color: black;font-weight: bold;}

div#version_placeolder #game {
  padding-right: 1vw
;padding-left: 1vw;}

#topbar img {filter: invert(1);height: 5vh;transition: var(--transition);padding: 1vw;}

div#number_grid_content {display: flex;transition: 0.33s;}

div#number_grid_actions {width: 50vw;display: flex;justify-content: center;}

#user_actions {height: 25vh;width: 100vw;}

div#number_grid_interactions {
transition: var(--transition);display: flex;height: 100%;padding: 1vh 1vw;}

div#top_game_content {height: 100%;}

label.button_label {color: white;text-align: center;}



/* Desktop: */
